doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap")
    header
      a(id="logo") Butlet
      .logo_box
      .month_year 
        a(id="left_move" class="move_icon")
          img(src="images/left_move_icon.png" alt="" class="move_img")
        .text 
          p(id="month") July
          p(id="year") 2021
        a(id="right_move" class="move_icon")
          img(src="images/right_move_icon.png" alt="" class="move_img")
      .tab
        a(id="main_icon")
          img(src="images/main_icon_on.png" alt="" class="icon" id="main_img")
        a(id="cal_icon")
          img(src="images/cal_icon_off.png" alt="" class="icon" id="cal_img")
        a(id="stat_icon")
          img(src="images/stat_icon_off.png" alt="" class="icon" id="stat_img")
    block content
