extends layout

block content
  link(rel="preconnect", href="https://fonts.googleapis.com")
  link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
  link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap")
  link(rel='stylesheet', href='/stylesheets/input_bar.css')
  link(rel='stylesheet', href='/stylesheets/header.css')
  include header.pug
  include input_bar.pug
