extends layout

block content
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap")
    link(rel='stylesheet', href='/stylesheets/header.css')
    link(rel='stylesheet', href='/stylesheets/normal.css')
    link(rel='stylesheet', href='/stylesheets/color.css')
    link(rel='stylesheet', href='/stylesheets/week_bar.css')
    link(rel='stylesheet', href='/stylesheets/cal_history.css')

    include header.pug
    include week_bar.pug
    include cal_history.pug

    script(src="/javascripts/header.js") 