-const order = Array.from({length:12}).reduce((pre,v,i) => {pre.push((parseInt(month_num)+5+i)%12+1); return pre}, []);

.graph_box
    .title
        p 생활 카테고리 소비 추이
    .graph 
        canvas
    .month
        each month in order
            p= month