header
  a(href="/" id="logo") Butlet
  .logo_box
  .month_year
    a#left_move.move_icon
      img.move_img(src="/images/left_move_icon.png" alt="")
    .text
      p#month #{month_str}
      p#year #{year}
    a#right_move.move_icon
      img.move_img(src="/images/right_move_icon.png" alt="")
  .tab
    a#main_icon
      img.icon
    a#cal_icon
      img.icon
    a#stat_icon
      img.icon