extends layout

block content
  link(rel="preconnect", href="https://fonts.googleapis.com")
  link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
  link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap")
  link(rel='stylesheet', href='/stylesheets/input_bar.css')
  link(rel='stylesheet', href='/stylesheets/header.css')
  link(rel='stylesheet', href='/stylesheets/info.css')
  link(rel='stylesheet', href='/stylesheets/days.css')
  link(rel='stylesheet', href='/stylesheets/normal.css')
  link(rel='stylesheet', href='/stylesheets/modal.css')
  link(rel='stylesheet', href='/stylesheets/color.css')

  include header.pug
  include input_bar.pug
  include info.pug
  include days.pug
  include modal.pug
  
  script(src="/javascripts/days.js")
  script(src="/javascripts/info.js")
  script(src="/javascripts/input_bar.js")
  script(src="/javascripts/modal.js")
  