.week_bar 
    .week.sunday 
        p 일
    .week.monday
        p 월
    .week.tuesday
        p 화
    .week.wednesday
        p 수
    .week.thursday
        p 목
    .week.friday
        p 금
    .week.saturday
        p 토