.graph_box {
    position: absolute;
    width: 1100px;
    height: 550px;
    left: 400px;
    top: 780px;
    padding: 50px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 5;
}
.graph_box > .title {
    margin-left: 40px;
}
.graph_box > .title > p {
    height: 80px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
}
.graph_box > .graph > canvas {
    width: 1100px;
    height: 440px;
    background-color: #fdfdfd;
}
.graph_box > .month {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 1100px;
}