.input_bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-left: 20px;

    position: absolute;
    width: 1230px;
    height: 100px;
    left: 370px;
    top: 125px;

    background: white;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 2;
}
.input_box {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    position: static;
    width: 250px;
    height: 55px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}
.input_box:not(:nth-child(5)) {
    border-right: 1px solid #BBBBBB;
}
.input_box.date {
    width: 170px;
}
.input_box.category {
    width: 170px;
}
.input_box.memo {
    width: 270px;
}
.input_box.payment {
    width: 150px;
}
.input_box.payment > select {
    width: 120px;
}
.input_box.price {
    width: 250px;
}
.input_box.price > #price {
    width: 130px;
}
.input_box.price > div > span {
    cursor: pointer;
    font-size: x-large;
    margin-right: 30px;
}
.save_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;

    position: static;
    width: 40px;
    height: 40px;
    left: 192px;
    top: 18px;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;

    background-color: white;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 24px;
}
.save_btn:hover {
    background-color: #BBBBBB;
}
.date, .category, .memo, .payment {
    border-right: #BBBBBB;
}
.dropdown_box {
    display: inline-flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    width: 164px;
    height: 23px;
    margin-top: 10px;
    cursor: pointer;
}
.dropdown_box > .target {
    position: relative;
    color: #BBBBBB;
    margin-top: 0px;
    cursor: pointer;
    top:0px;
    left: 0px;
    display: none;
}
.dropdown_box > .display {
    position: relative;
    margin-top: 0px;
    width: 100px;
    left: 0px;
    top:0px;
    cursor: pointer;
}
.dropdown_payment {
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.1);;
    background-color: white;
    
    position: absolute;
    left: 700px;
    top: 110px;
    width: 130px;
    padding: 0px 20px;
}
.dropdown_category {
    position: absolute;
    left: 220px;
    top: 110px;
    width: 140px;
    padding: 0px 20px;

    list-style: none;

    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.dropdown_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    font-weight: bolder;
    line-height: 22px;

    cursor: pointer;
    color: #1E2222;

    animation-name: open_dropdown;
    animation-duration: 0.5s;
}
@keyframes open_dropdown {
    from {height: 0px;}
    to {height: 60px;}
}
.dropdown_item:hover {
    background-color: #f0f0f0;
}
.dropdown_item:not(:last-child) {
    border-bottom: 1px solid #BBBBBB;
    border-width: 30%;
}
.dropdown_item > .content {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}