.color_0 {
    color: #045D8B;
}
.color_1 {
    background-color: #D092E2;
}
.color_2 {
    background-color: #94D3CC;
}
.color_3 {
    background-color: #817DCE;
}
.color_4 {
    background-color: #4CA1DE;
}
.color_5 {
    background-color: #4A6CC3;
}
.color_6 {
    background-color: #B9D58C;
}
.color_7 {
    background-color: #4CB8B8;
}
.color_8 {
    background-color: #6ED5EB;
}
.color_9 {
    background-color: #000000;
}
.color_10 {
    color: #F45452;
}
.color_11 {
    color: #9C9C9C;
}