.tab {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  position: absolute;
  top:50px;
  left:1480px;

  border-radius: 10px;
}
.month_year {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 30.38%;
  right: 36.5%;
  top: 5.56%;
  bottom: 5.56%;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  position: absolute;
  left: -0.83%;
  right: 91.98%;
  top: 36.67%;
  bottom: 36.67%;
}
.icon {
  position: static;
  width: 24px;
  height: 24px;
  left: 10px;
  top: 10px;
  flex: none;
  align-self: flex-start;
  margin: 0px 10px;
}
.text {
  position: absolute;
  right: 91.16%;
  top: 36.67%;
  bottom: 36.67%;

  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;

  color: #FCFCFC;
}
.month_year {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 36.38%;
  right: 36.5%;
  top: 5.56%;
  bottom: 25.56%;
}
.move_icon {
  display: flex;
  justify-content: center;

  position: static;
  width: 24px;
  height: 24px;
  left: 0px;
  top: 28px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: static;
  width: 94px;
  height: 80px;
  left: 68px;
  flex: none;
  order: 1;
  flex-grow: 0;

  margin: 0px 70px;
}
.logo_box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  position: absolute;
  left: -0.83%;
  right: 91.98%;
  top: 36.67%;
  bottom: 36.67%;
}
#logo {
  position: absolute;
  top:50px;
  left:400px;

  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;

  color: #FCFCFC;
}
#year {
  position: static;
  width: 56px;
  height: 24px;
  left: 19px;
  top: 56px;

  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #FCFCFC;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 0px;
}
#month {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 56px;

  color: #FCFCFC;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}
#right_move {
  left: 206px;
  order: 2;
}
#stat_img {
  align-self: flex-start;
}
#main_icon {
  /* 달력 */
  /* Auto Layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  position: static;
  width: 44px;
  height: 44px;
  left: 88px;

  border-radius: 0px 10px 10px 0px;
  /* Inside Auto Layout */
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0px 0px;
}
#cal_icon {
  /* 통계 */
  /* Auto Layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  position: static;
  width: 44px;
  height: 44px;
  left: 44px;
  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 0px;
}
#stat_icon {
  /* 내역 */
  /* Auto Layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  position: static;
  width: 44px;
  height: 44px;

  border-radius: 10px 0px 0px 10px;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}