select {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    
    height: 25px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 4px 0px;

    border-style: none;
}
label {
    position: static;
    width: 80px;
    height: 17px;
    left: 0px;
    top: 0px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 17px;
    text-transform: uppercase;
    color: #00365D;

    flex: none;
    order: 0;
    flex-grow: 0;
}
input[type=text] {
    position: static;
    width: 80px;
    height: 23px;
    left: 0px;
    top: 21px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    text-transform: uppercase;

    color: #222222;
    border-style: none;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 4px 0px;
}
.input_bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;

    position: absolute;
    width: 904px;
    height: 76px;
    left: 26%;
    top: 13%;

    background: white;

    border: 1px solid #BBBBBB;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.input_box {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 16px 0px 16px 32px;

    position: static;
    width: 137px;
    height: 76px;
    left: 0px;
    top: 0px;

    border-radius: 60px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}
.save_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;

    position: static;
    width: 40px;
    height: 40px;
    left: 192px;
    top: 18px;
    border: 2px solid #045D8B;
    box-sizing: border-box;
    border-radius: 10px;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 24px;
}
.save_btn:hover {
    background-color: #BBBBBB;
}
.date, .category, .memo, .payment {
    border-right: #BBBBBB;
}